*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
client_secret_709874125326-mfoa4mhabqiefr5qei5jqdatn6k7tirr.apps.googleusercontent.com.json
client_secret_709874125326-7f5okafhli7n08vjh9hlm5im1hek0h49.apps.googleusercontent.com.json
app/google-services.json

.idea
.kotlin
plans
